@import url('https://fonts.googleapis.com/css?family=News+Cycle');


body, html{
    width: 100%;
    height: 100%;
}

.main .row{
    padding: 0%;
    margin: 0%;
}

nav.sidebar.navbar{
    border-radius: 0px;
}

nav.sidebar, .main{
    transition: margin 200ms ease-out;
}

.main{
    padding: 0px 0px 0px 0px;
}

section{
    padding-left: 15px; 
}

h3#tit-comd-cerc{
    margin-left: 15px;
    font-size: 3em;
}

@media (min-width: 1300px){
    .main{

        width: calc(100% - 200px);
        margin-left: 200px;
        height: 100%;
    }
      
    nav.sidebar{
        margin-left: 0%;
        float: left;
        width: 15%;
        height: 100%;
    }

    #franja{
        background-color: black;
        margin-bottom: 20px;
        height: 10px;
        width: 100%;
    }   

    div#food-logo{
        width: 100%;
        margin-left: 8%;
    } 

    ul li a {
        font-family: ;
    }

    #titulo-name{
        margin-left: 5%;
        text-align: center;
        color: #004d99;
        margin-bottom: 20%;
    }

    #encabezado {
        background-color: black;
        text-align: center;
        color: white;
        width: 100%;
        margin-top: 0%;
        height: 30%;
    }

    #encabezado h1 {
         margin-top: 0%;

    }

    #filtro-search {
        display: inline-block;
        width: 55%; 

    }

    #buscar {
        width:15%;
        margin:0%;
        display: inline-block;

    }

    #filtro-search {
        margin-top: 10px;
        display: inline-block;

    }

    #filtro-search : first-child {
        float:left;
    }

    #facultad-comedores {
        width:900px;

    }

    .facultad-detalle {
        width: 270px;
        height: 270px;
        padding-top: 30px;
        border-style: solid;
        border-radius: 20px;
        display: inline-block;
        margin-left: 25px;
        margin-bottom: 25px;
        margin-top: 25px;
        border-color: #d60651;
    

    }

     .facultad-detalle a{
        margin-left: 85px;
        padding-top:  10px;

    }

    .imagen-facultad {
        width: 200px;
        height: 60px;
        margin-left: 15px;

    }

    .facultad-detalle p {
        padding-left: 40px;

    }

    .facultad-detalle h4 {
        color: #004d99;
        text-align: center;
    }
}




